/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

* {
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}
body {
  /*background-image: linear-gradient(180deg, rgb(255, 255, 255) , rgb(255, 255, 255), rgb(104, 112, 173), rgb(130, 140, 160), rgb(150, 160, 180) , rgb(22, 0, 96));*/
  margin: 0px;
  background-image: linear-gradient(180deg, rgb(255, 255, 255) , rgb(255, 255, 255), rgb(104, 112, 173), rgb(90, 110, 130), rgb(80, 100, 110) , rgb(22, 0, 96));

}
div {
  display: inline-block;
}
.div-letters {
position: relative;
width: 165px;
  top: 5px;
  left: 5px;
  background-image: linear-gradient(10deg, rgb(206, 206, 206) , rgb(93, 93, 93), rgb(0, 0, 0) , rgb(0, 0, 0));
  
}
.div-span {
scale: 0;
}
section {
  scale: 1;
}
.d {
position: relative;
left: 10px;
 font-size: 100px;
 color:rgb(255, 255, 255);
 -webkit-text-stroke: 1px rgb(0, 0, 0);
}
.k {
  position: relative;
  left: 8px;
  font-size: 100px;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}
.d,.k:hover {
  cursor: pointer;
}
.ul-side {
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.non-transp {
display: inline-block;
position: fixed;
height: 35px;
width: 1210px;
left: 180px;
/*ADD OPACITY*/
}
#navtop {
  display: inline-block;
  justify-content: center;
  position: fixed;
  height: 100px;
  width: 1210px;
  top: 0px;
  left: 180px;
  /*background-color: rgb(0, 0, 0);*/
  border-radius: 0px 0px 20px 20px;
  z-index: 1;
  background: linear-gradient(-45deg,rgb(149, 148, 148) , rgb(122, 122, 122), rgb(74, 74, 74) , rgb(0, 0, 0));
  background-size: 410% 410%;
  animation: gradient 25s ease infinite;
}
#navside {
  float: right;
  height: 800px;
  background-color: black;
  width: 78px;
  left: 1440px;
  top: -0px;
  position: fixed;
}
.github , .twitter , .linkedin , .youtube {
  margin: 45px 0px 0px 0px;
}
i {
  height: 150px;
  margin-left: 35px;
  color: white;
}
.section1 , .section2 , .section3 {
  position: relative;
  height: 600px;
  width: 1200px;
  left: 180px;
}
/*added css from the internet*/
h1 {
--s: 0.1em;   /* the thickness of the line */
--c: #041899; /* the color */

color: #0000;
padding-bottom: var(--s);
background: 
  linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
  linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
-webkit-background-clip: text,padding-box;
        background-clip: text,padding-box;
transition: 0.5s;
}
h1:hover {--_p: 100%}
h1 {
font-family: system-ui, sans-serif;
font-size: 3rem;
cursor: pointer;
}
/*added css from the internet*/

h1 {
  position: absolute;
  margin: 0px;
  width: 240px;
  left: 480px;
  top: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav-text {
  color:rgb(85, 85, 85);
  font-size: 20px;
  font-style: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  letter-spacing: 0.5rem;
  height: 110px;
  width: 1200px;
  margin-right: 85px;
  margin-left: 20px;
}
#anchor {
  color:rgb(170, 172, 170);
}
#anchor:hover {
  cursor: pointer;
  color: rgb(65, 67, 65);
  background-image: linear-gradient(rgb(151, 181, 230) , rgb(106, 143, 197) , rgb(26, 42, 82));
}
li:hover {
  cursor: pointer;
}
text:hover {
  cursor: pointer;
}
.about {
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: -39px;
}
.contact {
  margin-top: 10px;
  margin-bottom: -10px;
  margin-right: 39px;
  margin-left: -39px;
}
/*.p-about {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  text-decoration: solid;
  word-spacing: 5px;
  position: relative;
  width: 500px;
  left: 200px;
  top: 130px;
  text-shadow: 2px black;
}*/
p {
  display: inline-block;
}
img {
  border-radius: 10px;
}
.img-about {
  display: inline-block;
  position: relative;
  height: 300px;
  width: 300px;
  top: 250px;
  left: 160px;
}
/*.apple-text {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  text-decoration: solid;
  word-spacing: 5px;
  position: relative;
  width: 500px;
  left: 200px;
  top: 130px;
  color: rgb(222, 222, 222);
}*/

/*css from the internet*/

.p-about , .apple-text {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, cursive;
font-size: 1.1em;
position: relative;
width: 500px;
left: 280px;
top: 250px;
letter-spacing: 0.5px;
transform: translate(-50%,-50%);
background-image: linear-gradient(150deg , rgb(255, 255, 255), rgb(150, 160, 180));
background-size: 100% 20px;
background-repeat: no-repeat;
background-position: 100% 0%;
 transition: background-size .7s, background-position .5s ease-in-out;
 border-radius: 8px 0px 8px 0px;
 cursor: pointer;
}

.p-about:hover , .apple-text:hover {
background-size: 100% 100%;
background-position: 0% 100%;
transition: background-position .7s, background-size .5s ease-in-out;
}

/*css from the internet*/

.apple-vid {
display: inline-block;
  position: relative;
  top: 250px;
  left: 50px;
}
.projects-anchor {
color:rgb(4, 52, 118);
text-decoration: underline;
}
.anchor-ab , .anchor-proj , .anchor-cont {
text-decoration: none;
}
.about-li:active , .projects-li:active , .contact-li:active {
background: rgb(4, 52, 118);
}
form {
  width: 700px;
  height: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  position: relative;
  left: 0px;
  top: 200px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color:rgb(24, 14, 91); 
}

input[type="text"],
input[type="email"],
textarea.form-control {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}
#message {
  width: 300%;
}
input[type="submit"].btn {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}  
.menu {
  margin: auto;
  display:block;
  cursor: pointer;
  margin-left: 20px;
  width: 100px;
  height: 70px;
  background-color:rgb(222, 222, 222);
  color: rgb(185, 185, 195);
  position: fixed;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  animation: float 6s ease-in-out infinite;
  border-radius: 20px;
}

#menu {
  width: 35px;
  height: 5px;
  background-color: black;
  position: relative;
  top: 23px;
  left: 33px;
}
.nav-left {
  position: fixed;
  width: 150px;
}
.ul-left {
  position: relative;
  width: 150px;
  padding: 0px;
  left: 10px;
  top: 200px;
  list-style-type: none; /*Added this because it appeared when added background-animation*/
}
.about-li , .projects-li , .contact-li {
  position: relative;
  background-image: linear-gradient(10deg, rgb(206, 206, 206) , rgb(93, 93, 93), rgb(0, 0, 0) , rgb(0, 0, 0));
  height: 50px;
  text-align: center;
  border-radius: 20px 0px 20px 0px;
  margin-bottom: 10px;
  border:solid rgb(0, 0, 0);
  box-shadow: 0.5px 1px;
  cursor: pointer;
}
.left-menu {
position: relative;
top: 15px;
font-size: 18px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(255, 255, 255);
}
form , .apple-vid , #navtop , .div-letters {
border-radius: 40px 0px 40px 0px;
}
#like-button-root {
position: absolute;
top: 580px;
right: 550px;
}

/*@keyframes float {
  0% {
    transform: translateY(-50%) translateY(-30px);
  }
  50% {
    transform: translateY(-50%) translateY(30px);
  }
  100% {
    transform: translateY(-50%) translateY(-30px);
  }
}*/

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


